{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
修改密码
{% endblock %}

{% block css %}
<link href="{% static 'blog/css/change_password.css' %}" rel="stylesheet /"
{% endblock %}
{% block content %}
<div class="container" style="min-height:600px;">
     <div class="row">
         <div class="col-md-4">
         </div>
         <div class="col-md-5">
            <form class="form-signin" method="POST" style="margin-right: 40px;">
                {% csrf_token %}
                <h2 class="form-signin-heading text-center">修改密码</h2>
                {% if message %}
                    <div class="alert alert-danger" role="alert" style="padding: 10px">{{ message }}</div>
                {% elif success %}
                    <div class="alert alert-success" role="alert" style="padding: 10px">
                        <a href="{% url 'blog:logout' %}">{{ success }}</a>
                    </div>
                {% endif %}
                {% for field in form %}
                <div class="line" >
                    {% if field.errors %}
                    <div class="alert alert-danger" role="alert" style="padding: 10px">{{ field.errors }}</div>
                    {% endif %}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <button style="margin-top: 5px;" class="btn btn-lg btn-primary btn-block" type="submit">提交修改</button>
            </form>
         </div>
         <div class="col-md-3">
             {% include 'blog/right_side_bar.html' %}
         </div>
     </div>
 </div>
{% endblock %}